body {
  width: 50em;
}

#myChart {
  padding: 40px;
}

#boardSelectArea {
  margin-bottom: 4px;
}

.settingItems {
  margin-left: 20px;
  margin-right: 20px;
}

.ui.dividing.header {
  margin-top: 20px;
}
