body {
  width: 50em;
}

#boardSelectArea {
  margin-bottom: 4px;
}

.settingItems {
  margin-left: 20px;
  margin-right: 20px;
}

.ui.dividing.header {
  margin-top: 20px;
}

.ui.secondary.pointing.massive.menu {
  background-color: #1976d2;
}
