<!DOCTYPE html>
<html>

<head>
  <title>BurnDownChart</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="node_modules/semantic-ui/dist/semantic.min.css">
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/semantic-ui/dist/semantic.min.js"></script>
  <script src="node_modules/semantic-ui-calendar/dist/calendar.min.js"></script>
  <link rel="stylesheet" href="node_modules/semantic-ui-calendar/dist/calendar.min.css"></link>
</head>

<body>
  <div id="app">
    <graph-menu></graph-menu>

    <!-- <div class="ui segment" v-if="error.status" hidden>
      <div class="ui error message">
        エラーが発生しました。
        <p>{{error.discription}}</p>
      </div>
    </div> -->

    <!-- <div class="ui segment" v-if="!trelloAuthenticated || !isValidServerConfig || !isCalendarInputed" hidden>
      <div class="ui error message">
        <p v-if="!trelloAuthenticated">SettingからTrelloのAPIKey,Tokenを入力してください。</p>
        <p v-if="!isCalendarInputed">グラフの設定値を入力してください。</p>
      </div>
    </div> -->

    <!-- <div class="ui main container" v-if="trelloAuthenticated && isValidServerConfig">

      <div class="ui segment" v-bind:class="{loading: loading}">
        <div id="graphArea">
          <div class="chartContainer">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>

    </div> -->
    <script src="./public/js/bundle.js"></script>
    <!-- <script type="module" src="js/popup.js "></script> -->
</body>

</html>
