<!DOCTYPE html>
<html>

<head>
  <title>BurnDownChart</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="semantic.min.css">
  <link rel="stylesheet" type="text/css" href="icon.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="jquery-2.2.0.min.js"></script>
  <script src="semantic.min.js"></script>
  <script src="Chart.min.js"></script>
  <script src="vue.min.js"></script>
  <script src="bower_components/crypto-js/crypto-js.js"></script>
</head>

<body>
  <div id="app">
    <div class="ui secondary pointing blue inverted massive menu">
      <a class="item active" href="./popup.html">
        Home
      </a>
      <div class="right menu">
        <a class="item" href="./setting.html">
          Setting
        </a>
      </div>
    </div>

    <div class="ui segment" v-if="error.status" hidden>
      <div class="ui error message">
        エラーが発生しました。
        <p>{{error.discription}}</p>
      </div>
    </div>

    <div class="ui segment" v-if="!trelloAuthenticated || !isValidServerConfig || !isCalendarInputed">
      <div class="ui error message">
        <p v-if="!trelloAuthenticated">SettingからTrelloのAPIKey,Tokenを入力してください。</p>
        <p v-if="!isCalendarInputed">グラフの設定値を入力してください。</p>
      </div>
    </div>

    <div class="ui main container" v-if="trelloAuthenticated && isValidServerConfig">

      <div class="ui styled accordion segment centered fluid">
        <div class="title">
          <i class="dropdown icon"></i> グラフ設定値の変更
        </div>
        <div class="content">
          <div class="ui form">
            <div class="field">
              <label>Board</label>
              <div id="boardSelectArea" class="ui selection dropdown">
                <input type="hidden" name="board">
                <i class="dropdown icon"></i>
                <div class="text default">{{boardDefaultText}}</div>
                <div id="dropmenu" class="menu">
                  <div v-for="boardItem in boardItems" v-bind:class="{active: boardItem.isActive, selected: boardItem.isActive}" class="item" v-bind:value="boardItem.boardId" v-bind:data-value="boardItem.boardName">{{boardItem.boardName}}</div>
                </div>
              </div>
            </div>
            <div class="field">
              <label>StartDate</label>
              <div class="ui left icon input">
                <i class="calendar icon"></i>
                <input id="start" type="date" placeholder="開始日" required v-bind:value="graph.startDate" />
              </div>
            </div>
            <div class="field">
              <label>EndDate</label>
              <div class="ui left icon input">
                <i class="calendar icon"></i>
                <input id="end" type="date" placeholder="終了日" required v-bind:value="graph.endDate" />
              </div>
            </div>
            <div class="field">
              <label>Holidays</label>
              <div class="ui left icon input">
                <i class="calendar icon"></i>
                <input id="holidays" type="text" placeholder="休日" v-bind:value="graph.holidays" />
              </div>
            </div>
            <div class="ui fluid button" @click="reload">SHOW!!!</div>
          </div>
        </div>
      </div>

      <div class="spinnerContainer" v-if="loading">
        <i id="spinner" class="spinner loading icon"></i>
      </div>

      <div class="ui segment" v-if="!loading">
        <div id="graphArea">
          <div class="chartContainer">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>

    </div>
    <script src="menu.js "></script>
    <script src="popup.js "></script>
</body>

</html>
