<!DOCTYPE html>
<html>

<head>
  <title>BurnDownChart</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="semantic.min.css">
  <link rel="stylesheet" type="text/css" href="icon.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="jquery-2.2.0.min.js"></script>
  <script src="semantic.min.js"></script>
  <script src="vue.min.js"></script>
  <script src="Chart.min.js"></script>
  <script src="bower_components/crypto-js/crypto-js.js"></script>
</head>

<body>
  <div id="app">
    <div class="ui secondary pointing blue inverted massive menu">
      <a class="item" href="./popup.html">
      Home
      </a>
      <div class="right menu">
        <a class="item active" href="./setting.html">
        Setting
      </a>
      </div>
    </div>

    <h2 class="ui dividing header">Backend Settings</h2>
    <div id="backendSettingArea" class="ui segment inputArea">
      <form class="ui large form">
        <div class="field">
          <div class="ui input">
            <input id="url" type="text" placeholder="Server URL" v-model="baseUrl" required>
          </div>
        </div>
      </form>
    </div>

    <h2 class="ui dividing header">Trello Authentication</h2>
    <div id="trelloSettingArea" class="ui segment inputArea">
      <form class="ui large form">
        <div class="field">
          <div class="ui input">
            <input id="token" type="password" placeholder="Token" v-model="trelloAuth.token" required>
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            <input id="devKey" type="password" placeholder="Key" v-model="trelloAuth.devKey" required>
          </div>
        </div>
      </form>
    </div>

    <h2 class="ui dividing header" v-show="trelloAuthenticated">The list of available boards.</h2>
    <h3 v-show="trelloAuthenticated">
      The list of boards you are able to acquired data.<br/>
      You can switch enable or disable by clicking right button.
    </h3>
    <div class="spinnerContainer" v-if="loading">
      <i id="spinner" class="spinner loading icon"></i>
    </div>
    <div class="ui segment" v-show="!loading && trelloAuthenticated">
      <div class="ui divided items">
        <div class="item" v-for="board in webhookBoards">
          <div class="middle aligned content">
            <p class="header">{{board.boardName}}</p>
            <div class="extra">
              <div class="ui right floated button" v-bind:class="{blue: board.isRegistered, loading: board.isloading}" v-on:click="toggleWebhook(board)">
                {{board.isRegistered ? "Registered" : "Register"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button id="registerBtn" type="submit" class="ui button fluid" v-on:click.prevent="register">登録</button>

  </div>
  <script src="menu.js"></script>
  <script src="setting.js"></script>
</body>

</html>
